<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>First Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <button ion-button block (click)="secondPage()">Go To Second Page</button> -->
  <button ion-button block [navPush]="SecondPage" [navParams]="{nama: 'Akino Archilles', umur: 20}">Go To Second Page</button>
</ion-content>
