<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button block (click)="logEvent($event)">Click this Button</button>
	<button ion-button block (click)="firstPage()">Go To First Page</button>
</ion-content>
